In [3]:
1+1

2

In [ ]:
a="Great "

In [5]:
a

'Great '

In [6]:
b="India"
type(b)

str

In [4]:
a = "Great "
a+b

'Great India'

In [10]:
a=True
type(a)

bool

In [11]:
a=10.5
type(a)

float

In [12]:
# comment

In [80]:
a= [1,2, bool, 3.33, "India"]
type(a)

list

In [14]:
a[1]

2

In [15]:
a[0]

1

In [5]:
a = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
a[-2]

'Nov'

In [ ]:
a = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
print(a[-12:-9])
print(a[-9:-6])
print(a[-6:-3])
print(a[-3:])

In [ ]:
# Picking specific months: Jan, Mar, May (indices 0, 2, 4)
a = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
print([a[0], a[2], a[4]])

In [ ]:
# Append
a = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
a.insert(3, 'Undecimber')
print(len(a))

del a[3]
print(a)
print(len(a))

In [1]:
a = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# To append at the start (prepend), use insert(0, item)
a.insert(0, 'PreMonth')
print(a)

# Alternative: a = ['PreMonth'] + a
# But this creates a new list, while insert modifies in place

['PreMonth', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [10]:
# Arithmetic Operations
print(10 + 10)      # Addition
print(10 - 10)      # Subtraction
print(10 * 10)      # Multiplication
print(10 / 10)      # Division
print(10 % 10)     # Floor Division
print(10 ** 10)    # Exponentiation
print(10 == 10)    # Floor Division

20
0
100
1.0
0
10000000000
True

In [27]:
# Conditionals
if(10 > 20):
    print("10 is greater than 20")
else:
    print("10 is not greater than 20")

10 is not greater than 20

In [28]:
if(10 > 10):
    print("Yes")
elif(10 < 10):
    print("No")
else:
    print("Values are same")

Values are same

In [30]:
a = 4
if(a%2 == 0):
    print("Even")
else:
    print("Odd")

Even

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a: 
    if(i%2 == 0):
        print(i, "is Even")
    else:
        print(i, "is Odd")

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even

In [38]:
i=0
while(i<= 20): 
    if(i%2 == 0):
        print(i, "is Even")
    else:
        print(i, "is Odd")
    i += 1

0 is Even
1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even
11 is Odd
12 is Even
13 is Odd
14 is Even
15 is Odd
16 is Even
17 is Odd
18 is Even
19 is Odd
20 is Even

In [2]:
a = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
for month in a:
    print(month)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [1]:
evenSum = 0;
oddSum= 0;
for i in range(1,101):
    if(i%2 == 0):
        evenSum += i
    else:
        oddSum += i
print("Even sum:", evenSum)
print("Odd Sum:", oddSum)

Even sum: 2550
Odd Sum: 2500

In [3]:
print("Even sum:", sum(i for i in range(1, 101) if i % 2 == 0))

Even sum: 2550