In [1]:
1+1

2

In [2]:
a="Great "

In [3]:
a

'Great '

In [4]:
b="India"
type(b)

str

In [5]:
a = "Great "
a+b

'Great India'

In [6]:
a=True
type(a)

bool

In [7]:
a=10.5
type(a)

float

In [8]:
# comment

In [9]:
a= [1,2, bool, 3.33, "India"]
type(a)

list

In [10]:
a[1]

2

In [11]:
a[0]

1

In [12]:
a = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
a[-2]

'Nov'

In [13]:
a = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
print(a[-12:-9])
print(a[-9:-6])
print(a[-6:-3])
print(a[-3:])

['Jan', 'Feb', 'Mar']
['Apr', 'May', 'Jun']
['Jul', 'Aug', 'Sep']
['Oct', 'Nov', 'Dec']

In [14]:
# Picking specific months: Jan, Mar, May (indices 0, 2, 4)
a = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
print([a[0], a[2], a[4]])

['Jan', 'Mar', 'May']

In [15]:
# Append
a = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
a.insert(3, 'Undecimber')
print(len(a))

del a[3]
print(a)
print(len(a))

13
['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
12

In [16]:
a = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# To append at the start (prepend), use insert(0, item)
a.insert(0, 'PreMonth')
print(a)

# Alternative: a = ['PreMonth'] + a
# But this creates a new list, while insert modifies in place

['PreMonth', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [17]:
# Arithmetic Operations
print(10 + 10)      # Addition
print(10 - 10)      # Subtraction
print(10 * 10)      # Multiplication
print(10 / 10)      # Division
print(10 % 10)     # Floor Division
print(10 ** 10)    # Exponentiation
print(10 == 10)    # Floor Division

20
0
100
1.0
0
10000000000
True

In [18]:
# Conditionals
if(10 > 20):
    print("10 is greater than 20")
else:
    print("10 is not greater than 20")

10 is not greater than 20

In [19]:
if(10 > 10):
    print("Yes")
elif(10 < 10):
    print("No")
else:
    print("Values are same")

Values are same

In [20]:
a = 4
if(a%2 == 0):
    print("Even");
else:
    print("Odd")

Even

In [21]:
def myAdd(a, b):
    print (a+b)
myAdd(2,3)

5

In [24]:
def greet():
    name = input("Enter your name")
    print("Hello", name)
greet()

Hello gyanendra

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a: 
    if(i%2 == 0):
        print(i, "is Even")
    else:
        print(i, "is Odd")

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even

In [38]:
i=0
while(i<= 20): 
    if(i%2 == 0):
        print(i, "is Even")
    else:
        print(i, "is Odd")
    i += 1

0 is Even
1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even
11 is Odd
12 is Even
13 is Odd
14 is Even
15 is Odd
16 is Even
17 is Odd
18 is Even
19 is Odd
20 is Even

In [25]:
a = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
for month in a:
    print(month)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [27]:
def area_circle():
    radius = input("Enter the radius of the circle");
    print(22/7*int(radius)*int(radius))
area_circle()

12.571428571428571

In [29]:
def aRect():
    length = int(input("Enter the length"))
    height = int(input("Enter the height"))
    print(length*height)
aRect()

20

In [36]:
def add(*a):
    return sum(a)
print(add(2, 3))

5

In [39]:
l_add = lambda a,b : a+b
def l_add_multiply(fn, param):
    return fn(2,3)*param
l_add_multiply(l_add,2)

10

In [60]:
try : 
    n = int(input("Enter a number"))
    result = 10/n
except Exception as e:
    print(" exception ->", e)
    n = int(input("Enter a non zero number"))
else:
    print(result)
finally:
    print("Completed the division")

 exception -> division by zero
Completed the division
Completed the division

In [80]:
class Dog:
    def __init__(self, name):
        self.name = name
    
    def bark(self):
        print(self.name, "is barking")

    def getName(self):
        return self.name

dog1 = Dog("Daburman")
dog1.getName()

'Daburman'

In [87]:
class Vehicle:
    def __init__(self, name, type):
        self.name = name
        self.type = type
    def description(self):
        print(self.name, "is a", self.type)

vehicle = Vehicle("Bike", "Two wheeler")
vehicle.description()

Bike is a Two wheeler

In [98]:
class Animal:
    def speak(self, sound, type):
        print(type,"makes sound", sound)

class Cat(Animal):
    def test(self):
        print("hello")
    
c = Cat().speak("cat", "meow")

meow makes sound cat

In [101]:
class bird:
    def move(self):
        print("Bird is flying")
class fish:
    def move(self):
        print("Fish is swimming")

for animal in [bird(), fish()] :
    animal.move()

Bird is flying
Fish is swimming

In [2]:
print("Even sum:", sum(i for i in range(1, 100) if i % 2 == 0))

Even sum: 2450

In [8]:
prev = 0
for i in range(0,10):
    
    print(i+prev)
    prev=i

0
1
3
5
7
9
11
13
15
17

In [17]:
str = 'PYnative'
for i in range(0, len(str), 2):
    print(str[i])

P
n
t
v

In [16]:
def remove_chars(word, n):
    return word[n:]
    # write your code

print("Removing characters from a string")
print(remove_chars("pynative", 4)) 
# output 'tive' first four characters are removed

print(remove_chars("pynative", 2))

Removing characters from a string
tive
native

In [25]:
str_x = "Emma is good developer. Emma is a writer"
def is_emma(str):
    return str == 'Emma'
print(str_x.split(" ").count('Emma'))

2

In [1]:
def draw_stars(count):
    result =""
    for i in range(0, count):
        result+=" *"
    return result;

def draw_pattern(): 
    for i in range(1,10):
        if(i<=5): 
            print(draw_stars(i))
        else: print(draw_stars(10-i))
        
draw_pattern()

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

In [1]:
def myFun():
    my_list = [1, 2, 3, 'Jessa', 4, 5, 'Kelly', 'Jhon', 6,9]
    new_list = []
    for el in my_list:
        if(type(el) == int):
            new_list.append(el)
    
    return new_list

print(myFun())

[1, 2, 3, 4, 5, 6, 9]

In [5]:
# WRITE A PROGRAM TO TAKE INPUT FROM USER AS AGE AND CHECK IF THE USER IS ABLE TO VOTE OR NOT AND TAKE INPUT AS SALARY AND IF SALARY IS GREATER THAN 50000 PRINT YOU ARE ELIGIBLE FOR LOAN
# PRINT APPROPRIATE MESSAGES BASED UPON CONDITIONS. USE EMOJIS FOR BETTER USE EXPEREINCE
age = int(input("Enter your age: "))
if age >= 18:
    print("You are eligible to vote! ðŸ—³ï¸")
salary = int(input("Enter your salary: "))
if salary > 50000:
    print("You are eligible for a loan! ðŸ’°")

You are eligible for a loan! ðŸ’°

In [35]:
type(1) == int

True